/* ---- OVERALL ---- */
.mt {
  margin-top: 1em;
}

/* ---- HERO ---- */

.jumbotron {
  background: url(../img/lights-flip.jpg) no-repeat center;
  height: 100%;
  color: white;
  text-align: center;
}
.jumbotron p {
  text-align: left;
}

/* ---- PROJECTS ---- */

/* Projects - modals */
.modal-img {
  text-align: center;
}
.modal-img img {
  margin: 0 1em;
  display: inline-block;
}


/* ---- CONTACTS ---- */

.contact-links {
  text-align: center;
}
.contact-links button {
  min-width: 10em;
  margin-bottom: 1em;
  margin-right: 1em;
}


/* ---- sticky footer ---- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

