/* -- customizing Bootstrap progress bars for skill section -- */

.progress {
  height: 2em;
}
.progress-bar {
  font-size: 1.25em;
  text-align: left;
  line-height: 1.5;
  padding-left: 1.5em;
}
.lvl-9 {
  width: 90%;
}
.lvl-8 {
  width: 80%;
}
.lvl-7 {
  width: 70%;
}
.lvl-6 {
  width: 60%;
}
.lvl-5 {
  width: 50%;
}
.lvl-5 {
  width: 40%;
}
