h1, h2, h3, h4, h5 {
  font-family: Andada;
}
body {
  font-family: Quicksand;
  padding-top: 0;
}

.progress-bar {
  background-color: $analog2;
}
.btn-primary {
  background-color: $analog3;
  border-color: $analog3;
}
.btn-primary:hover {
  background-color: $analog1;
}

mark {
  background-color: $highlight;
}

/* ---- NAV / HEADER ---- */

// .navbar-inverse p,
// .navbar-inverse .navbar-text,
// .navbar-inverse .navbar-nav > li > a {
//   color: white;
// }
// .navbar-inverse .navbar-nav > li > a:hover {
//   color: $bright;
// }
// .navbar-brand .name {
//   font-family: Andada;
//   font-size: 1.25em;
// }



// .navbar-inverse {
//   background: linear-gradient(125deg, $main, $analog1);
// }
