h1, h2, h3, h4, h5 {
  font-family: Andada;
}
body {
  font-family: Quicksand;
  padding-top: 0;
}
.progress-bar {
  background-color: $analog2;
}
.btn-primary {
  background-color: $analog3;
  border-color: $analog3;
}
.btn-primary:hover {
  background-color: $analog1;
}
mark {
  background-color: $highlight;
}
.sidebar-box {
  background: linear-gradient(150deg, $analog1, $analog3);
}
.sidebar {
  color: white;
}
.sidebar-box a {
  color: $bright;
  text-decoration: none;
}
.sidebar-box a:hover {
  color: lightgray;
}
.nav > li > a:hover {
  background-color: $highlight;
}
